{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">کارتە وەرگیراوەکان</h1><br>
    {%if sum%}
            <h3>Total: {{sum}}</h3>
            {% endif %}
    <table class="table table-bordered border-primary">
        <caption>
            List of cards {%if message%}
            <div>{{message}}</div>
            {% endif %}
        </caption>
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">خاوەن حساب</th>
            <th scope="col">خاوەن کارت</th>
            <th scope="col">بڕی پارە</th>
            <th scope="col">کۆد</th>
            <th scope="col">تێبینی</th>
            <th scope="col">سڕینەوە</th>
            </tr>
        </thead>
        <tbody>
            {% for i in list %}
            <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.owner_name}}</td>
                <td>{{i.person_name}}</td>
                <td>{{i.amounts}}</td>
                <td>{{i.code}}</td>
                <td>{{i.description}}</td>
                <td>
                    <form method="post" action="{% url 'delete_card' i.id%}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger align-items-center">سڕینەوە</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}