{% extends 'base.html' %}
{% block content %}
<div class="container p-5 text-center">
  <div class="card bg-dark text-white p-5" style="border-radius: 1rem;">
  <h1 class="text-center">دروستکردنی کارت</h1>
  <form method="POST" action="">
    {% csrf_token %}
    <div class="form-group mt-3">
      <label for="formGroupExampleInput">خاوەن حساب</label>
      <input type="text" class="form-control mt-2" name="owner_name" id="owner_name" placeholder="Owner Name:">
    </div>
    <div class="form-group mt-3">
      <label for="formGroupExampleInput2">خاوەن کارت</label>
      <input type="text" class="form-control mt-2" name="person_name" id="person_name" placeholder="Person Name:">
    </div>
    <div class="form-group mt-3">
      <label for="formGroupExampleInput">کۆدی کارت</label>
      <input type="text" class="form-control mt-2" name="code" id="code" placeholder="Code:">
    </div>
    <div class="form-group mt-3">
      <label for="formGroupExampleInput">بڕی پارە</label>
      <input type="text" class="form-control mt-2" name="amounts" id="amounts" placeholder="Amounts:">
    </div>
    <div class="form-group mt-3">
      <label for="formGroupExampleInput2">تێبینی</label>
      <input type="text" class="form-control mt-2" name="description" id="description" placeholder="Note..">
    </div>
    <button type="submit" class="btn btn-primary mt-3">دروستکردن</button>
    <div class="text-center text-primary">{{message}}</div>
  </form>
</div>
</div>
</div>
{% endblock %}