{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
  <h1 class="text-center">دروستکردنی کارت</h1>
  <form method="POST" action="">
    {% csrf_token %}
    <div class="form-group mt-3">
      <label for="formGroupExampleInput">خاوەن حساب</label>
      <input type="text" class="form-control" name="owner_name" id="owner_name" placeholder="Owner Name:">
    </div>
    <div class="form-group mt-3">
      <label for="formGroupExampleInput2">خاوەن کارت</label>
      <input type="text" class="form-control" name="person_name" id="person_name" placeholder="Person Name:">
    </div>
    <div class="form-group mt-3">
      <label for="formGroupExampleInput">کۆدی کارت</label>
      <input type="text" class="form-control" name="code" id="code" placeholder="Code:">
    </div>
    <div class="form-group mt-3">
      <label for="formGroupExampleInput">بڕی پارە</label>
      <input type="text" class="form-control" name="amounts" id="amounts" placeholder="Amounts:">
    </div>
    <div class="form-group mt-3">
      <label for="formGroupExampleInput2">تێبینی</label>
      <input type="text" class="form-control" name="description" id="description" placeholder="Note..">
    </div>
    {{message}}
    <button type="submit" class="btn btn-primary">دروستکردن</button>
  </form>
</div>
{% endblock %}