{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <a href="{% url 'earned' %}"></a>
    <table class="table table-bordered border-primary">
        <caption>
            List of cards {%if message%}
            <div>{{message}}</div>
            {% endif %}
            {%if sum%}
            <div>{{sum}}</div>
            {% endif %}
        </caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">name</th>
                <th scope="col">amount</th>
            </tr>
        </thead>
        <tbody>
            {% for i in list %}
            <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.owner_name}}</td>
                <td>{{i.total_price}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}